@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/Gilroy-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
:root {--font-family: 'Gilroy', sans-serif;

  --box-shadow-base: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
  --box-shadow-inactive: 0 1px 1px rgba(151, 151, 151, 0.11), 0 2px 2px rgba(151, 151, 151, 0.11),
    0 4px 4px rgba(151, 151, 151, 0.11), 0 6px 8px rgba(151, 151, 151, 0.11),
    0 8px 16px rgba(151, 151, 151, 0.11);
  --box-shadow-active: 0 2px 1px rgba(151, 151, 151, 0.09), 0 4px 2px rgba(151, 151, 151, 0.09),
    0 8px 4px rgba(151, 151, 151, 0.09), 0 16px 8px rgba(151, 151, 151, 0.09),
    0 32px 16px rgba(151, 151, 151, 0.09);
}

html,
body {
  height: 100%;
  background-color: #1B1B1B; /* dark mode */
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  width: 100%;
}

.ant-input {
  border-radius: 20px 0 0 20px !important;
  border: none !important;
}

.ant-input:focus {
  outline: none !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.ant-input-search-button {
  border-radius: 0 20px 20px 0 !important;
  border: none !important;
}