@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  --box-shadow-base: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
  --box-shadow-inactive: 0 1px 1px rgba(151, 151, 151, 0.11), 0 2px 2px rgba(151, 151, 151, 0.11),
    0 4px 4px rgba(151, 151, 151, 0.11), 0 6px 8px rgba(151, 151, 151, 0.11),
    0 8px 16px rgba(151, 151, 151, 0.11);
  --box-shadow-active: 0 2px 1px rgba(151, 151, 151, 0.09), 0 4px 2px rgba(151, 151, 151, 0.09),
    0 8px 4px rgba(151, 151, 151, 0.09), 0 16px 8px rgba(151, 151, 151, 0.09),
    0 32px 16px rgba(151, 151, 151, 0.09);
  --ant-wave-shadow-color: rgb(198, 198, 198);
  --antd-wave-shadow-color: rgb(198, 198, 198);
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  width: 100%;
}

.ant-input,
.ant-input-search-button {
  height: 40px !important; 
}

.ant-input {
  border-radius: 20px 0 0 20px !important;
}

.ant-input:hover,
.ant-input:focus {
  outline: none !important;
  border-color: rgb(116, 116, 116) !important;
  box-shadow: none !important;
  border-width: 1px !important; 

}

.ant-input-search-button {
  border-radius: 0 20px 20px 0 !important;
  border-color: rgb(198, 198, 198 ) !important;
  border-width: 1px !important; 
  color: #333 !important;
}

.ant-input-search-button:hover,
.ant-input-search-button:focus {
  border-color: rgb(116, 116, 116) !important;
  color: #333 !important;
}

.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus-within,
.ant-input-affix-wrapper-focused {
  border-color: rgb(198, 198, 198) !important;
  box-shadow: none !important;
}

.ant-btn {
  --ant-wave-shadow-color: rgb(198, 198, 198);
  --antd-wave-shadow-color: rgb(198, 198, 198);
}

.ant-btn:focus,
.ant-btn:active,
.ant-btn:focus-visible {
  outline: none !important;
  border-color: rgb(198, 198, 198) !important;
}

.ant-wave,
.ant-wave-holder,
.ant-click-animating-node,
.ant-click-animating {
  --ant-wave-shadow-color: rgb(198, 198, 198) !important;
  --antd-wave-shadow-color: rgb(198, 198, 198) !important;
}

.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: rgb(198, 198, 198 ) !important;
  border-color: rgb(198, 198, 198 ) !important;
  color: #333 !important;
}

.ant-menu-item-selected {
  background-color: rgb(198, 198, 198 ) !important;
}

.ant-menu-item-active {
  background-color: rgb(198, 198, 198 ) !important;
}

.ant-card-bordered {
  border: 1px solid rgb(198, 198, 198 ) !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgb(198, 198, 198 ) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: rgb(198, 198, 198 ) !important;
  border-color: rgb(198, 198, 198 ) !important;
  color: #333 !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  background-color: rgb(217, 217, 217) !important;
  border-color: rgb(217, 217, 217) !important;
  color: #333 !important;
}

.ant-radio-button-wrapper:hover {
  color: #333 !important;
}

a {
  color: #333;
}

a:hover {
  color: #555;
}